In [4]:
import pandas as pd

df = pd.DataFrame({"A":[1,4,7], "B":[2,5,[]], "C":[3, "",9]})
df

   A   B  C
0  1   2  3
1  4   5
2  7  []  9

In [5]:
import numpy as np
import pandas as pd

a = pd.DataFrame({"A":[1,2,3,4,5,6,7,8],"B": [np.nan , 1,2, None, 4, "", "  aa", "AA     "]})
a

   A        B
0  1      NaN
1  2        1
2  3        2
3  4     None
4  5        4
5  6
6  7       aa
7  8  AA

In [2]:
df.isnull().sum()

A    0
B    0
C    0
dtype: int64

In [1]:
ord("^")

94

In [13]:
import pandas as pd
t = {"A": ['야 ㄹㅇ 이거 완전 sdfsdf !@#$%^^^^^^^^^()&* ✨ 이런거 저런거 다 걸러야 하는데ㅋ ㅎ ㅉ ㅡㅡ ㅜㅜ']}
# t = {"A": ['재미있게 봤습니다 매^^력적인 행복^^이네요  ㅎㅎㅎ']}

text = pd.DataFrame(t)
text

                                                   A
0  야 ㄹㅇ 이거 완전 sdfsdf !@#$%^^^^^^^^^()&* ✨ 이런거 저런거...

In [14]:
a = text["A"].str.replace("^", "", regex=False)
a

0    야 ㄹㅇ 이거 완전 sdfsdf !@#$%()&* ✨ 이런거 저런거 다 걸러야 하는...
Name: A, dtype: object

In [1]:
import urllib.request
import pandas as pd

## data 가져오기
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings.txt", filename="total_data.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt", filename="ratings_train.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt", filename="ratings_test.txt")

total_data = pd.read_table("total_data.txt")            # read_table시 자동으로 strip() 적용
train_data = pd.read_table("ratings_train.txt")
test_data = pd.read_table("ratings_test.txt")

print("총 데이터 개수: ", len(total_data))
print("훈련 데이터 개수:", len(train_data))
print("검증 데이터 개수:", len(test_data))

print(type(total_data))

총 데이터 개수:  200000
훈련 데이터 개수: 150000
검증 데이터 개수: 50000
<class 'pandas.core.frame.DataFrame'>

In [2]:
import os.path
import pickle
file = 'cor_train_data.txt'

if os.path.isfile(file):
    print('파일이 존재합니다.')
    print('파일을 불러옵니다.')
    with open('cor_train_data.txt', 'rb') as f:
        cor_train_data = pickle.load(f)
        train_data['document'] = pd.DataFrame(cor_train_data)
        print("파일을 불러왔습니다.")
else:
    with open("cor_train_data.txt", 'wb') as F:
        pickle.dump(correction_document, F, pickle.HIGHEST_PROTOCOL)
        print("파일을 생성하였습니다.")

파일이 존재합니다.
파일을 불러옵니다.
파일을 불러왔습니다.

In [6]:
train_data.head()

         id                                           document  label
0   9976970                                 아 더빙 진짜 짜증 나네요 목소리      0
1   3819312                    흠포스터보고 초등학생영화 줄 오버 연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                         교도소 이야기구먼 솔직히 재미는 없다 평점 조정      0
4   6483659  사이먼 페그의 익살스러운 연기가 돋보였던 영화 스파이더맨에서 늙어 보이기만 했던 커...      1