<a href="https://colab.research.google.com/github/colinder/Naver_MovieReview_LSTM/blob/main/Naver_%EC%98%81%ED%99%94_%EB%A6%AC%EB%B7%B0_%EA%B0%90%EC%A0%95%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Naver 영화 리뷰 감정분석**
데이터 셋은 https://github.com/e9t/nsmc 의 자료를 사용

In [1]:
import urllib.request
import pandas as pd

## data 가져오기
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings.txt", filename="total_data.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt", filename="ratings_train.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt", filename="ratings_test.txt")

total_data = pd.read_table("total_data.txt")
train_data = pd.read_table("ratings_train.txt")
test_data = pd.read_table("ratings_test.txt")

print("총 데이터 개수: ", len(total_data))
print("훈련 데이터 개수:", len(train_data))
print("검증 데이터 개수:", len(test_data))

총 데이터 개수:  200000
훈련 데이터 개수: 150000
검증 데이터 개수: 50000

## 데이터 __확인__

In [2]:
train_data.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [3]:
test_data.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

## 작업의 편의를 위해 index 열 추가

In [4]:
train_data.insert(0, "index", [i for i in range(150000)])
test_data.insert(0, "index", [i for i in range(50000)])

In [5]:
train_data.head()

   index        id                                           document  label
0      0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1      1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2      2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3      3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4      4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [6]:
test_data.head()

   index       id                                           document  label
0      0  6270596                                                굳 ㅋ      1
1      1  9274899                               GDNTOPCLASSINTHECLUB      0
2      2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

# **데이터 전처리 진행**
데이터의 이상값, 중복 등을 처리하여 정제된 데이터 셋으로 구성

In [7]:
# 1. 정규표현식을 사용해 '!'나'.' 등 기호를 삭제
train_data['document'] = train_data['document'].str.replace("[^0-9^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
test_data['document'] = test_data['document'].str.replace("[^0-9^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
# 2. 텍스트 데이터 앞 뒤 공백 제거
train_data['document'].str.strip()
test_data['document'].str.strip()

<ipython-input-7-a219c40adc48>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document'] = train_data['document'].str.replace("[^0-9^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
<ipython-input-7-a219c40adc48>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  test_data['document'] = test_data['document'].str.replace("[^0-9^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

0                                                굳 ㅋ
1
2                 뭐야 이 평점들은 나쁘진 않지만 10점 짜리는 더더욱 아니잖아
3                          지루하지는 않은데 완전 막장임 돈주고 보기에는
4        3만 아니었어도 별 다섯 개 줬을텐데 왜 3로 나와서 제 심기를 불편하게 하죠
                            ...
49995      오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함
49996        의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따
49997                그림도 좋고 완성도도 높았지만 보는 내내 불안하게 만든다
49998     절대 봐서는 안 될 영화 재미도 없고 기분만 잡치고 한 세트장에서 다 해먹네
49999                                     마무리는 또 왜이래
Name: document, Length: 50000, dtype: object

In [8]:
## 정규표현식 적용 확인
train_data.head()

   index        id                                           document  label
0      0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1      1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2      2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3      3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4      4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

In [9]:
test_data.head()

   index       id                                     document  label
0      0  6270596                                          굳 ㅋ      1
1      1  9274899                                                   0
2      2  8544678           뭐야 이 평점들은 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      3  6825595                    지루하지는 않은데 완전 막장임 돈주고 보기에는      0
4      4  6723715  3만 아니었어도 별 다섯 개 줬을텐데 왜 3로 나와서 제 심기를 불편하게 하죠      0

# 중복데이터 확인
## 다만, id는 다르지만 중복된 리뷰라면 개개인의 의견이니 제거 하지 않는다.

In [10]:
# 1. 중복 id 확인
train_data["id"].is_unique        # is_unique ; res => boolean True - 중복 없음 / False - 중복 있음  # True
test_data['id'].is_unique         # True

# 2. 중복 document 확인
train_data["document"].is_unique        # False (중복있음)
test_data['document'].is_unique         # False (중복있음)

# 3. id 별 document 중복 확인
dupl_train = train_data[(train_data['id'].is_unique & train_data['document'].duplicated())]
dupl_train

         index       id    document  label
412        412  9509970                  1
1058      1058  5890638           4      0
1097      1097  2062443          쵝오      1
1165      1165  7508856          최고      1
1248      1248  3502685          최고      1
...        ...      ...         ...    ...
149949  149949  3924716          영화      0
149960  149960  6368431        지루하다      0
149966  149966  6735753           1      0
149987  149987  7669621     재미있어요^^      1
149996  149996  8549745  평점이 너무 낮아서      1

[6057 rows x 4 columns]

In [11]:
# 3. id 별 document 중복 확인
dupl_test = test_data[(test_data['id'].is_unique & test_data['document'].duplicated())]
dupl_test

       index       id   document  label
116      116  6910486                 1
254      254  4976468                 0
468      468  7517102                 0
504      504  2096424                 0
558      558   171480                 1
...      ...      ...        ...    ...
49871  49871  9767991                 0
49923  49923  4540652  재미있게 봤습니다      1
49930  49930  7500092         ㅠㅠ      0
49934  49934  6929887          굿      1
49978  49978  2306407                 1

[1481 rows x 4 columns]

In [12]:
# 텍스트 데이터 앞뒤 공백 제거

In [13]:
train_data

,index,id,document,label
0,0,9976970,아 더빙 진짜 짜증나네요 목소리,0
1,1,3819312,흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나,1
2,2,10265843,너무재밓었다그래서보는것을추천한다,0
3,3,9045019,교도소 이야기구먼 솔직히 재미는 없다평점 조정,0
4,4,6483659,사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...,1
...,...,...,...,...
149995,149995,6222902,인간이 문제지 소는 뭔죄인가,0
149996,149996,8549745,평점이 너무 낮아서,1
149997,149997,9311800,이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다,0
149998,149998,2376369,청춘 영화의 최고봉방황과 우울했던 날들의 자화상,1
149999,149999,9619869,한국 영화 최초로 수간하는 내용이 담긴 영화,0

In [14]:
test_data

       index       id                                     document  label
0          0  6270596                                          굳 ㅋ      1
1          1  9274899                                                   0
2          2  8544678           뭐야 이 평점들은 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3          3  6825595                    지루하지는 않은데 완전 막장임 돈주고 보기에는      0
4          4  6723715  3만 아니었어도 별 다섯 개 줬을텐데 왜 3로 나와서 제 심기를 불편하게 하죠      0
...      ...      ...                                          ...    ...
49995  49995  4608761    오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  49996  5308387     의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따       0
49997  49997  9072549              그림도 좋고 완성도도 높았지만 보는 내내 불안하게 만든다      0
49998  49998  5802125   절대 봐서는 안 될 영화 재미도 없고 기분만 잡치고 한 세트장에서 다 해먹네      0
49999  49999  6070594                                   마무리는 또 왜이래      0

[50000 rows x 4 columns]

In [15]:
# 결측값 제거
train_data.dropna(inplace = True)
test_data.dropna(inplace = True)

In [16]:
# 결측값 제거 확인
train_data.isnull().sum()

index       0
id          0
document    0
label       0
dtype: int64

In [17]:
test_data.isnull().sum()

index       0
id          0
document    0
label       0
dtype: int64

In [18]:
# 결측값 제거한 DF 확인
train_data

,index,id,document,label
0,0,9976970,아 더빙 진짜 짜증나네요 목소리,0
1,1,3819312,흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나,1
2,2,10265843,너무재밓었다그래서보는것을추천한다,0
3,3,9045019,교도소 이야기구먼 솔직히 재미는 없다평점 조정,0
4,4,6483659,사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...,1
...,...,...,...,...
149995,149995,6222902,인간이 문제지 소는 뭔죄인가,0
149996,149996,8549745,평점이 너무 낮아서,1
149997,149997,9311800,이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다,0
149998,149998,2376369,청춘 영화의 최고봉방황과 우울했던 날들의 자화상,1
149999,149999,9619869,한국 영화 최초로 수간하는 내용이 담긴 영화,0

In [19]:
test_data

       index       id                                     document  label
0          0  6270596                                          굳 ㅋ      1
1          1  9274899                                                   0
2          2  8544678           뭐야 이 평점들은 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3          3  6825595                    지루하지는 않은데 완전 막장임 돈주고 보기에는      0
4          4  6723715  3만 아니었어도 별 다섯 개 줬을텐데 왜 3로 나와서 제 심기를 불편하게 하죠      0
...      ...      ...                                          ...    ...
49995  49995  4608761    오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  49996  5308387     의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따       0
49997  49997  9072549              그림도 좋고 완성도도 높았지만 보는 내내 불안하게 만든다      0
49998  49998  5802125   절대 봐서는 안 될 영화 재미도 없고 기분만 잡치고 한 세트장에서 다 해먹네      0
49999  49999  6070594                                   마무리는 또 왜이래      0

[49997 rows x 4 columns]

## 결측값 제거 후 값이 비어있는 행을 제거하려 했지만, 
## 잠시후 토근화 & 임베딩 후에 빈행이 생성되니 한번에 처리를 위해 잠시 유예
# ============================================================

# 3. 데이터 토큰화 진행

(LSTM 분석을 위해서는 벡터화된 데이터셋이 필요함.)</br>
토큰화는 Kkma, Komoran 두가지로 테스트 예정</br>
둘 중 프로젝트에 더 적합한 모습을 보이는 라이브러리로 진행을 위한 테스트

In [20]:
pip install konlpy

Requirement already satisfied: konlpy in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (0.5.2)
Requirement already satisfied: JPype1>=0.7.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from konlpy) (1.2.0)
Requirement already satisfied: numpy>=1.6 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from konlpy) (1.19.5)
Requirement already satisfied: tweepy>=3.7.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from konlpy) (3.10.0)
Requirement already satisfied: beautifulsoup4==4.6.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from konlpy) (4.6.0)
Requirement already satisfied: colorama in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from konlpy) (0.4.4)
Requirement already satisfied: lxml>=4.1.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from konlpy) (4.6.3)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from tweepy>=3.7.0->konlpy) (2.25.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\kjonggwan\appdata\local\programs\python\python39\lib\site-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
try:
    import jpype
    import jpype1
except:
    import jpype


from konlpy.tag import Kkma, Hannanum, Komoran, Mecab, Okt

Kkma = Kkma()
Komoran = Komoran()
Okt = Okt()
Hannanum = Hannanum()

# print(Okt.normalize("안녕하세욬ㅋㅋㅋ 반가워요 샤릉해"))    # 안녕하세요ㅋㅋㅋ 반가워요 사랑해
# Okt는 정규화 처리 라이브러리가따로 존재한다는 레퍼런스를 보고 정확도에 크게 기여할 수 있을 것같아 테스트 해보았으나, 
# 위와 같은 정규화 처리가 되는 경우가 적은 것으로 판단. (5개 테스트 결과 정규화 처리 건수 0) 
# 이후 너무 느린 속도에 대한 이슈가 없는 Hannanum까지 테스트 진행

for i in range(4):
  print("="*100)
  print(train_data['document'][i])
  print("Kkma", Kkma.morphs(train_data['document'][i]))
  print("Komran",Komoran.morphs(train_data['document'][i]))
  print("Okt", Okt.morphs(train_data['document'][i], norm=True,stem = True))   # norm: 정규화 처리 / stem: 각 단어에서 어간을 추출
  print("Hannanum", Hannanum.morphs(train_data['document'][i]))

====================================================================================================
아 더빙 진짜 짜증나네요 목소리
Kkma ['아', '아', '더빙', '진짜', '짜증나', '네요', '목소리']
Komran ['아', '더빙', '진짜', '짜증', '나', '네요', '목소리']
Okt ['아', '더빙', '진짜', '짜증나다', '목소리']
Hannanum ['아', '더빙', '진짜', '짜증나', '네', '요', '목소리']
====================================================================================================
흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나
Kkma ['흠', '포스터', '보고', '초', '딩', '영화', '줄', '오버', '연기', '조차', '가볍', '지', '않', '구나']
Komran ['흠', '포스터', '보고', '초딩', '영화', '줄', '오버', '연기', '조차', '가볍', '지', '않', '구나']
Okt ['흠', '포스터', '보고', '초딩', '영화', '줄', '오버', '연기', '조차', '가볍다', '않다']
Hannanum ['흠포스터보', '이', '고', '초딩영화줄오버연기조차', '가볍', '지', '않', '구나']
====================================================================================================
너무재밓었다그래서보는것을추천한다
Kkma ['너무', '재', '밓', '어', '었', '다', '그래서', '보', '는', '것', '을', '추천', '하', 'ㄴ다']
Komran ['너무재밓었다그래서보는것을추천한다']
Okt ['너', '무재', '밓었', '다그', '래서', '보다', '추천', '한', '다']
Hannanum ['너무재밓었다그래서보는것을추천한다']
====================================================================================================
교도소 이야기구먼 솔직히 재미는 없다평점 조정
Kkma ['교도소', '이야기', '구', '멀', 'ㄴ', '솔직히', '재미', '는', '없', '다', '평점', '조정']
Komran ['교도소', '이야기', '이', '구먼', '솔직히', '재미', '는', '없', '다', '평점', '조정']
Okt ['교도소', '이야기', '구먼', '솔직하다', '재미', '는', '없다', '평점', '조정']
Hannanum ['교도소', '이야기구먼', '솔직히', '재미', '는', '없다평점', '조정']

_테스트 결과 띄어쓰기에 대한 이슈를 뛰어넘어 가장 작은 단위로 분석이 가능했던 Kkma로 진행하는 것이 타당해 보임_

**고려사항**</br>
정교하게 형태소 분석을 수행하지만, 너무 잘게 쪼개져서 오히려 의미분석을 하기 힘들 수 있음.</br>
하지만 비정형데이터를 다루는데 있어 띄어쓰기를 인식하지 못하는 것은 치명적인 문제가 될 수 있을 것으로 판단.

하여 최종적으로 Kkma 와 Okt 두 방법에 대한 효율을 고민해보는 것으로 기획</br>
먼저 Kkma로 개발.

## 불용어 사전을 만들기 위해 '품사tagging'을 진행

In [ ]:
stopwords = ['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다', 'ㄴ', '다']   # 불용어 사전
# 불용어 사전의 경우 Kkma.pos()로 형태소를 분류하여 직접 제작할 수 있음.
# 해당 진행은 테스트를 위해 간단히만 제작하여 진행.

# 진행 파악
progress = 0
total = len(train_data)
percent = [i for i in range(1, 101)]
index = 0


# 품사 태깅
train_tagging = []
train_error_sentence = []
for i, sentence in enumerate(train_data['document']):

    try:
        temp_x = Kkma.morphs(sentence)                                  # 토큰화
        temp_x = [word for word in temp_x if not word in stopwords]   # 불용어 제거
        train_tagging.append(temp_x)
    except:
        train_tagging.append([])
        train_error_sentence.append(i)
        pass
    
    # 속도 파악
    progress += 1
    v = progress/total*100
    if v >= percent[index]:
        print(f'{percent[index]}% 진행 완료되었습니다.')
        index += 1


print("훈련데이터 에러 발생 수:", len(train_error_sentence))

1% 진행 완료되었습니다.
2% 진행 완료되었습니다.
3% 진행 완료되었습니다.
4% 진행 완료되었습니다.
5% 진행 완료되었습니다.
6% 진행 완료되었습니다.
7% 진행 완료되었습니다.
8% 진행 완료되었습니다.
9% 진행 완료되었습니다.
10% 진행 완료되었습니다.
11% 진행 완료되었습니다.
12% 진행 완료되었습니다.
13% 진행 완료되었습니다.
14% 진행 완료되었습니다.
15% 진행 완료되었습니다.
16% 진행 완료되었습니다.
17% 진행 완료되었습니다.
18% 진행 완료되었습니다.
19% 진행 완료되었습니다.
20% 진행 완료되었습니다.
21% 진행 완료되었습니다.
22% 진행 완료되었습니다.
23% 진행 완료되었습니다.
24% 진행 완료되었습니다.
25% 진행 완료되었습니다.
26% 진행 완료되었습니다.
27% 진행 완료되었습니다.
28% 진행 완료되었습니다.
29% 진행 완료되었습니다.
30% 진행 완료되었습니다.
31% 진행 완료되었습니다.
32% 진행 완료되었습니다.
33% 진행 완료되었습니다.
34% 진행 완료되었습니다.
35% 진행 완료되었습니다.
36% 진행 완료되었습니다.
37% 진행 완료되었습니다.
38% 진행 완료되었습니다.
39% 진행 완료되었습니다.
40% 진행 완료되었습니다.
41% 진행 완료되었습니다.
42% 진행 완료되었습니다.
43% 진행 완료되었습니다.
44% 진행 완료되었습니다.
45% 진행 완료되었습니다.
46% 진행 완료되었습니다.
47% 진행 완료되었습니다.
48% 진행 완료되었습니다.
49% 진행 완료되었습니다.
50% 진행 완료되었습니다.
51% 진행 완료되었습니다.
52% 진행 완료되었습니다.
53% 진행 완료되었습니다.
54% 진행 완료되었습니다.
55% 진행 완료되었습니다.
56% 진행 완료되었습니다.
57% 진행 완료되었습니다.
58% 진행 완료되었습니다.
59% 진행 완료되었습니다.
60% 진행 완료되었습니다.
61% 진행 완료되었습니다.
62% 진행 완료되었습니다.
63% 진행 완료되었습니다.
64% 진행 완료되었습니다.
65% 진행 완료되었습니다.
66% 진행 완료되었습니다.
67% 진행 완료되었습니다.
68% 진행 완료되었습니다.
69% 진행 완료되었습니다.
70% 진행 완료되었습니다.
71% 진행 완료되었습니다.
72% 진행 완료되었습니다.
73% 진행 완료되었습니다.
74% 진행 완료되었습니다.
75% 진행 완료되었습니다.
76% 진행 완료되었습니다.
77% 진행 완료되었습니다.
78% 진행 완료되었습니다.
79% 진행 완료되었습니다.
80% 진행 완료되었습니다.
81% 진행 완료되었습니다.
82% 진행 완료되었습니다.
83% 진행 완료되었습니다.
84% 진행 완료되었습니다.
85% 진행 완료되었습니다.
86% 진행 완료되었습니다.
87% 진행 완료되었습니다.
88% 진행 완료되었습니다.
89% 진행 완료되었습니다.
90% 진행 완료되었습니다.
91% 진행 완료되었습니다.
92% 진행 완료되었습니다.
93% 진행 완료되었습니다.
94% 진행 완료되었습니다.

In [ ]:
import os.path
file = os.path(C:\Users\kjonggwan\Desktop\HumanDeep\SNS_NLP\train_tagging.txt)

if file:
    print('기존에 파일이 존재합니다.')
else:
    train_tagging_file = open("C:\Users\kjonggwan\Desktop\HumanDeep\SNS_NLP\train_tagging.txt", 'w')
    train_tagging_file.close()
    print("파일을 생성하였습니다.")

In [ ]:
import time

start = time.time()

# 진행 파악
progress = 0
total = len(train_data)
percent = [i for i in range(1, 101)]
index = 0

stopwords = ['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다', 'ㄴ', '다']   # 불용어 사전
# 동일하게 검증 데이터 세트에도 적용

test_tagging = []
test_error_sentence = []
for i, sentence in enumerate(test_data['document']):
    try:
        temp_x = Kkma.morphs(sentence)                                  # 토큰화
        temp_x = [word for word in temp_x if not word in stopwords]   # 불용어 제거
        test_tagging.append(temp_x)
    except:
        test_tagging.append([])
        test_error_sentence.append(i)
        pass
    
    # 속도 파악
    progress += 1
    v = progress/total*100
    if v >= percent[index]:
        spend_time = time.time() - start
        print(f'{percent[index]}% 진행 완료되었습니다. / 경과시간: {spend_time}')
        index += 1

print("검증데이터 에러 발생 수:", len(test_error_sentence))

In [ ]:
print(len(train_tagging), "/",  type(train_tagging))
print(train_tagging[:5])

In [ ]:
print(len(test_tagging), "/",  type(test_tagging))
print(test_tagging[:5])

# 기계가 텍스트를 숫자로 처리할 수 있도록 정수 인코딩을 진행
<br>
다만 태깅한 품사를 모두 사용해서 학습한다면, 1, 2회 사용된 <br>
즉 너무 적은 단위로 사용된 단어들까지 학습된다. <br>
하면 데이터 분석에 효율성이 떨어질 수 있다. (혹은 과적합)<br>
하여 자주 사용된 단어(3회 이상)만 추려서 인공신경망 학습에 사용될 수 있도록<br>
3회 이하 사용된 단어들은 제거 한다. 

#### 3회 이하로 사용된 단어들이 얼마나 있는지 확인한다.

In [ ]:
# 우선 정수 인코딩 진행
from keras.preprocessing.text import Tokenizer

tokenizer_maxlen = Tokenizer()
tokenizer_maxlen.fit_on_texts(train_tagging)

print(tokenizer_maxlen.word_index)  # word_index => {'하': 1, 'ㄴ': 2, '영화': 3, '다': 4, '고': 5, ... ✨자주 사용된 단어가 먼저 나열
                                    # word_counts => OrderedDict([('아', 154), ('더빙', 5), ('진짜', 69) ...
                                    # word_docs => defaultdict(<class 'int'>, {'목소리': 2, '짜증나': 8, ...

In [ ]:
threshold = 3
total_cnt = len(tokenizer_maxlen.word_index)                  # 모든 토큰의 수
rare_cnt = 0                                                # 3번 이하 등장 단어 개수
total_freq = 0                                              # 토근화된 단어의 총합
rare_freq = 0                                               # 토근화된 단어 중 3번 이하 사용된 단어의 총합

# 단어와 빈도수의 쌍(pair)을 key와 value로 받는다.
for key, value in tokenizer_maxlen.word_counts.items():       # word_counts: 해당 단어의 빈도수를 반환
    total_freq = total_freq + value

    # 단어의 등장 빈도수가 threshold보다 작으면
    if value < threshold:
        rare_cnt = rare_cnt + 1
        rare_freq = rare_freq + value

print('단어 집합(vocabulary)의 크기 :',total_cnt)
print('등장 빈도가 2번 이하인 희귀 단어의 수:', rare_cnt)
print("전체 품사 집합에서 2회 이하 사용된 단어의 비율:", (rare_cnt / total_cnt)*100)
print("전체 등장 빈도에서 희귀 단어 등장 빈도 비율:", (rare_freq / total_freq)*100)

In [ ]:
# 0번 패딩 토큰을 고려하여 + 1
voca_size = total_cnt - rare_cnt + 1
print(f'즉, 총 단어의 수는 {total_cnt}개 / 그 중 2회 이하 사용된 단어의 수는 {rare_cnt}')
print("2회 이하 사용된 단어를 제거한 == 남길 단어(Embedding)의 사이즈:", voca_size - 1)

### 임베딩 할 단어 voca_size 를 확인</n>

### *본 데이터 임베딩 진행

In [ ]:
tokenizer = Tokenizer(num_words=voca_size)                       # Tokenizer(vaca_size) => 토근화 진행하면서 max_embadding(100, 12, 4 ...)를 설정
tokenizer.fit_on_texts(train_tagging)                            # fit_on_texts => Updates internal vocabulary based on a list of texts.
train_embadding = tokenizer.texts_to_sequences(train_tagging)    # texts_to_sequences => Transforms each text in texts to a sequence of integers.

tokenizer.fit_on_texts(test_tagging)                             # fit_on_texts => Updates internal vocabulary based on a list of texts.
test_embadding = tokenizer.texts_to_sequences(test_tagging)

print('훈련데이터', len(train_embadding) , "/", type(train_embadding))
print('검증데이터', len(test_embadding) , "/", type(test_embadding))

In [ ]:
# 테스트를 위해 데이터 분리 및 임베딩 데이터 추가
lenght = 3000
ex_train_data = train_data[:lenght]
ex_test_data = test_data[:lenght]

ex_train_data.insert(4, "token", train_embadding)
ex_test_data.insert(4, "token", test_embadding)

ex_train_data

In [ ]:
ex_test_data

In [ ]:
# 빈 리스트 행 확인
train_drop = [i for i, v in enumerate(ex_train_data['token']) if v == []]
test_drop = [i for i, v in enumerate(ex_test_data['token']) if v == []]

print(len(train_drop))
print(len(test_drop))

In [ ]:
# 빈 리스트 행 제거 및 확인
refine_train_data = ex_train_data.drop(index=train_drop, axis=0)
refine_test_data = ex_test_data.drop(index=test_drop, axis=0)

refine_train_data.shape

In [ ]:
refine_test_data.shape

# 모델 학습을 위한 sequence padding 진행

In [ ]:
print('리뷰의 최대 길이 :',max(len(l) for l in refine_train_data["token"]))
print('리뷰의 평균 길이 :',sum(map(len, refine_train_data["token"]))/len(refine_train_data["token"]))

import matplotlib.pyplot as plt
plt.hist([len(s) for s in refine_train_data["token"]], bins=60)
plt.xlabel('length ')
plt.show()

In [ ]:
def belong(max_len, nested_list):
  cnt = 0
  for s in nested_list:
    if(len(s) <= max_len):
        cnt = cnt + 1
  print('전체 샘플 중 길이가 %s 이하인 샘플의 비율: %s'%(max_len, (cnt / len(nested_list))*100))

max_len = 30
for max_len in range(30, 60, 5):
    belong(max_len, refine_data["token"])

## padding 길이 설정 후 => train_x 생성

In [ ]:
from keras.preprocessing import sequence

train_x = sequence.pad_sequences(refine_data['token'], maxlen=40)

print(train_x[:3], type(traind_x))

## refine_train_data에서 라벨값을 추려 => train_label 생성

In [ ]:
train_label = refine_data['label'].to_numpy()
print(train_label[:3], type(train_label))

## test_x 생성

In [ ]:
test_x = sequence.pad_sequences(refine_test_data['token'], maxlen=40)
print(test_x[:3], type(test_x))

## refine_test_data에서 라벨값을 추려 => test_label 생성

In [ ]:
test_label = refine_test_data['label'].to_numpy()
print(test_label[:3], type(test_label))

In [ ]:
from tensorflow.keras.layers import Embedding, Dense, LSTM
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

model = Sequential()
model.add(Embedding(voca_size, 100))
model.add(LSTM(128))
model.add(Dense(1, activation='sigmoid'))

es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=4)
mc = ModelCheckpoint('best_model.h5', monitor='val_acc', mode='max', verbose=1, save_best_only=True)

model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])
history = model.fit(train_x, train_label, epochs=15, callbacks=[es, mc], batch_size=60, validation_split=0.2)

loaded_model = load_model('best_model.h5')
print("\n 테스트 정확도: %.4f" % (loaded_model.evaluate(test_x, test_label)[1]))

In [ ]:
def sentiment_predict(new_sentence):
  new_sentence = Kkma.morphs(new_sentence) # 토큰화
  new_sentence = [word for word in new_sentence if not word in stopwords] # 불용어 제거
  encoded = tokenizer.texts_to_sequences([new_sentence]) # 정수 인코딩
  pad_new = sequence.pad_sequences(encoded, maxlen = max_len) # 패딩
  score = float(loaded_model.predict(pad_new)) # 예측
  if(score > 0.5):
    print("{:.2f}% 확률로 긍정 리뷰입니다.\n".format(score * 100))
  else:
    print("{:.2f}% 확률로 부정 리뷰입니다.\n".format((1 - score) * 100))
    
sentiment_predict('이 영화 개꿀잼 ㅋㅋㅋ')

In [ ]:
sentiment_predict('이 영화 핵노잼 ㅠㅠ')

In [ ]:
sentiment_predict('이딴게 영화냐 ㅉㅉ')

In [ ]:
sentiment_predict('감독 뭐하는 놈이냐?')

In [ ]:
sentiment_predict('와 개쩐다 정말 세계관 최강자들의 영화다')