In [4]:
import pandas as pd

df = pd.DataFrame({"A":[1,4,7], "B":[2,5,[]], "C":[3, "",9]})
df

   A   B  C
0  1   2  3
1  4   5
2  7  []  9

In [5]:
import numpy as np
import pandas as pd

a = pd.DataFrame({"A":[1,2,3,4,5,6,7,8],"B": [np.nan , 1,2, None, 4, "", "  aa", "AA     "]})
a

   A        B
0  1      NaN
1  2        1
2  3        2
3  4     None
4  5        4
5  6
6  7       aa
7  8  AA

In [2]:
df.isnull().sum()

A    0
B    0
C    0
dtype: int64

In [1]:
ord("^")

94

In [13]:
import pandas as pd
t = {"A": ['야 ㄹㅇ 이거 완전 sdfsdf !@#$%^^^^^^^^^()&* ✨ 이런거 저런거 다 걸러야 하는데ㅋ ㅎ ㅉ ㅡㅡ ㅜㅜ']}
# t = {"A": ['재미있게 봤습니다 매^^력적인 행복^^이네요  ㅎㅎㅎ']}

text = pd.DataFrame(t)
text

                                                   A
0  야 ㄹㅇ 이거 완전 sdfsdf !@#$%^^^^^^^^^()&* ✨ 이런거 저런거...

In [14]:
a = text["A"].str.replace("^", "", regex=False)
a

0    야 ㄹㅇ 이거 완전 sdfsdf !@#$%()&* ✨ 이런거 저런거 다 걸러야 하는...
Name: A, dtype: object

In [7]:
import urllib.request
import pandas as pd

## data 가져오기
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings.txt", filename="total_data.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt", filename="ratings_train.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt", filename="ratings_test.txt")

total_data = pd.read_table("total_data.txt")            # read_table시 자동으로 strip() 적용
train_data = pd.read_table("ratings_train.txt")
test_data = pd.read_table("ratings_test.txt")

print("총 데이터 개수: ", len(total_data))
print("훈련 데이터 개수:", len(train_data))
print("검증 데이터 개수:", len(test_data))

print(type(total_data))

총 데이터 개수:  200000
훈련 데이터 개수: 150000
검증 데이터 개수: 50000
<class 'pandas.core.frame.DataFrame'>

In [10]:
a = [25857,
 32726,
 33747,
 39942,
 47120,
 54911,
 55737,
 76160,
 110014,
 126782,
 132773,
 140721]
for i in a:
    print(train_data.loc[i])

id          2172111
document        NaN
label             1
Name: 25857, dtype: object
id                        7385251
document    오유인들아 평점조작 쫌 그만 해달랑꼐?
label                           0
Name: 32726, dtype: object
id            5883270
document    ..정말 쩔어요.
label               1
Name: 33747, dtype: object
id                 9978360
document    OST 존나 죠흠...ㅜㅜ
label                    1
Name: 39942, dtype: object
id          3989710
document      쩌는 액션
label             1
Name: 47120, dtype: object
id          7466424
document     존나 똥이다
label             0
Name: 54911, dtype: object
id          6369843
document        NaN
label             1
Name: 55737, dtype: object
id             2930999
document    또봐도 재미쎀ㅋㅋㅋ
label                1
Name: 76160, dtype: object
id          1034280
document        NaN
label             0
Name: 110014, dtype: object
id          5942978
document        NaN
label             0
Name: 126782, dtype: object
id                 9801025
document    꾸르잼ㅋㅋㅋㅋ재밌어욬ㅋㅋㅋ
label                    1
Name: 132773, dtype: object
id          1034283
document        NaN
label             0
Name: 140721, dtype: object

In [13]:
from hanspell import spell_checker

correction_document = []

cor_doc = spell_checker.check('또봐도 재미쎀ㅋㅋㅋ')
cor_doc.checked

'또 봐도 재미쎀ㅋㅋㅋ'

In [ ]:
import os.path
import pickle
file = 'cor_train_data.txt'

if os.path.isfile(file):
    print('파일이 존재합니다.')
    print('파일을 불러옵니다.')
    with open('cor_train_data.txt', 'rb') as f:
        cor_train_data = pickle.load(f)
        train_data['document'] = pd.DataFrame(cor_train_data)
        train_data.to_csv("cor_train_data.csv", )
        print("파일을 불러왔습니다.")
else:
    with open("cor_train_data.txt", 'wb') as F:
        pickle.dump(correction_document, F, pickle.HIGHEST_PROTOCOL)
        print("파일을 생성하였습니다.")